<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A web site that connects pets who need a human with humans who need a pet.">

    <% page.style.forEach(style=>{%>
        <link rel="stylesheet" href="/css/<%= style %>.css">
    <%});%>

    <title><%= page.title %></title>
</head>

<body>