<% 
const navmenu = [
    {'name': 'Home', 'link': '/'},
//    {'name': 'Products', 'link': '/products'},
//    {'name': 'Cart', 'link': '/cart',level:1},
//    {'name': 'Orders', 'link': '/orders',level:1},
//    {'name': 'Add Product', 'link': '/admin/add-book',level:1},
    {'name': 'Add Pet', 'link': '/admin/add-pet',level:1},
    {'name': 'My Pets', 'link': '/admin/pets',level:1},
    {'name': 'Find Humans', 'link': '/search/humans'},
    {'name': 'Find Pets', 'link': '/search/pets'}
//    {'name': 'Admin Products', 'link': '/admin/products',level:1}
];

var path=page.path||path||'/';
%>

<header class="main-header">
    <nav>
        <ul class="nav_menu">
            <% navmenu.filter(item=>{
                return !item.level||item.level<=userLevel;
            }).forEach(item=>{ %>
                <li><a class="navi<%=item.link===path?' active':''%>" href="<%= item.link %>"><%= item.name %></a></li><% }); %>
        </ul>
    </nav>
    <div class="auth">
        <% if(userLevel > 0) {%>
            <a href="/editUser">Edit User</a> 
            <form action="/logout" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button type="submit">Log Out</button>
            </form>
        <%} else {%>
            <a href="/signup">Sign Up</a>
            <a href="/login">Log In</a>
        <%}%>
    </div>
</header>