<label for="activityLevel">Temperament</label>
<select id="activityLevel" name="activityLevel" <% if (searchParams.required) { %> required <% }%>>
  <option></option>
  <% dogTemperaments.map(temperament => { %>
    <option <% if (searchParams.activityLevel !== undefined && searchParams.activityLevel.trim() === temperament.trim()) { %> selected <% }%>> <%= temperament %></option>
  <% }) %>
</select>
<%= searchParams.activityLevel %>