<label for="breed">Breed</label>
<select id="breed" name="breed" <% if (searchParams.required) { %> required <% }%>>
  <option label="Select A Breed"></option>
  <% dogBreeds.map(breed => { %>
    <option <% if (searchParams.breed === breed) { %> selected <% } %>> <%= breed %></option>
  <% }) %>  
</select>

